* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#navbar {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.section2{
    margin: 5rem 20rem;
}
.section2 h3{
    font-size: 3rem;
    color: rgb(128, 128, 126);
}
